In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

C:\Users\andre\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\andre\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\andre\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\andre\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
dfTrain = pd.read_csv('fraud_train.csv')
pd.set_option('display.max_columns',None)
dfTrain.head()

,X,id_tanggal_transaksi_awal,tanggal_transaksi_awal,tipe_kartu,id_merchant,nama_merchant,tipe_mesin,tipe_transaksi,nama_transaksi,nilai_transaksi,id_negara,nama_negara,nama_kota,lokasi_mesin,pemilik_mesin,waktu_transaksi,kuartal_transaksi,kepemilikan_kartu,nama_channel,id_channel,flag_transaksi_finansial,status_transaksi,bank_pemilik_kartu,rata_rata_nilai_transaksi,maksimum_nilai_transaksi,minimum_nilai_transaksi,rata_rata_jumlah_transaksi,flag_transaksi_fraud
0,4676,2457646,2457726,111,-2,1798,2605127,26,10,2200000.0,96,5,265,4137,613,193955,4,2,1,9,False,3,999,1.332293e+06,9750000.0,10000.0,2.73,0
1,788,2457419,2457507,111,-2,1798,-3,156,12,2500000.0,96,5,121,1264,2196,73140,2,1,5,8,False,3,999,1.369048e+06,10000000.0,30000.0,2.33,1
2,1520,2457521,2457612,2,-2,1798,-3,156,12,1200000.0,96,5,101,1283,2049,140216,3,1,5,8,False,3,999,1.552346e+07,100000000.0,41804.0,2.40,0
3,9346,2457659,2457746,103,75336,249,2806174,58,6,320000.0,96,5,239,7049,588,155117,3,2,2,4,False,3,999,7.117647e+05,6884408.0,10000.0,1.98,0
4,2914,2457311,2457385,0,-2,1798,2334932,26,10,150000.0,96,5,69,3425,613,143339,3,2,1,9,False,3,999,6.179683e+05,2500000.0,100000.0,1.46,0

In [3]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13125 entries, 0 to 13124
Data columns (total 28 columns):
X                             13125 non-null int64
id_tanggal_transaksi_awal     13125 non-null int64
tanggal_transaksi_awal        13125 non-null int64
tipe_kartu                    13125 non-null int64
id_merchant                   13125 non-null int64
nama_merchant                 13125 non-null int64
tipe_mesin                    13125 non-null int64
tipe_transaksi                13125 non-null int64
nama_transaksi                13125 non-null int64
nilai_transaksi               13125 non-null float64
id_negara                     13125 non-null int64
nama_negara                   13125 non-null int64
nama_kota                     13125 non-null int64
lokasi_mesin                  13125 non-null int64
pemilik_mesin                 13125 non-null int64
waktu_transaksi               13125 non-null int64
kuartal_transaksi             13125 non-null int64
kepemilikan_kartu             13125 non-null int64
nama_channel                  13125 non-null int64
id_channel                    13125 non-null int64
flag_transaksi_finansial      13125 non-null bool
status_transaksi              13125 non-null int64
bank_pemilik_kartu            13125 non-null int64
rata_rata_nilai_transaksi     13104 non-null float64
maksimum_nilai_transaksi      13104 non-null float64
minimum_nilai_transaksi       13104 non-null float64
rata_rata_jumlah_transaksi    13104 non-null float64
flag_transaksi_fraud          13125 non-null int64
dtypes: bool(1), float64(5), int64(22)
memory usage: 2.7 MB

In [4]:
import category_encoders as ce

encoder = ce.BinaryEncoder(cols=['nama_kota'])
dfTrain = encoder.fit_transform(dfTrain)

C:\Users\andre\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\andre\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [5]:
dfTrain.tail()

,X,id_tanggal_transaksi_awal,tanggal_transaksi_awal,tipe_kartu,id_merchant,nama_merchant,tipe_mesin,tipe_transaksi,nama_transaksi,nilai_transaksi,id_negara,nama_negara,nama_kota_0,nama_kota_1,nama_kota_2,nama_kota_3,nama_kota_4,nama_kota_5,nama_kota_6,nama_kota_7,nama_kota_8,lokasi_mesin,pemilik_mesin,waktu_transaksi,kuartal_transaksi,kepemilikan_kartu,nama_channel,id_channel,flag_transaksi_finansial,status_transaksi,bank_pemilik_kartu,rata_rata_nilai_transaksi,maksimum_nilai_transaksi,minimum_nilai_transaksi,rata_rata_jumlah_transaksi,flag_transaksi_fraud
13120,9482,2457523,2457583,111,-2,1798,1809533,385,11,100000.0,96,5,0,0,0,0,0,0,1,1,0,2259,613,140547,3,2,1,9,False,3,999,2.917987e+06,7400000.0,26500.0,2.57,0
13121,6073,2457459,2457517,111,-2,1798,219609,26,10,2500000.0,96,5,0,0,0,0,0,0,1,1,0,4339,613,172446,3,2,1,9,False,3,999,1.914437e+06,20000000.0,100000.0,2.73,0
13122,12164,2457620,2457712,103,-2,1798,-3,156,12,1250000.0,96,5,0,1,0,1,1,1,0,0,0,7729,617,141836,3,1,5,8,False,3,999,3.417045e+05,1000000.0,100000.0,1.33,1
13123,5264,2457514,2457526,111,-2,1798,3067053,26,10,500000.0,96,5,0,0,0,0,0,0,1,1,0,8032,613,71451,2,2,1,9,False,3,999,7.644508e+05,3000000.0,25000.0,1.62,0
13124,7335,2457426,2457522,103,-2,1798,2117453,301,16,300000.0,96,5,0,0,0,0,0,0,1,1,0,3061,613,175350,3,2,1,9,False,3,999,8.483696e+05,6375000.0,25000.0,1.79,0

In [6]:
dfTrain.drop('nama_kota_0',axis=1,inplace=True)

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(dfTrain['nama_merchant'])

dfTrain['nama_merchant'] = le.transform(dfTrain['nama_merchant'])
dfTrain.head()

,X,id_tanggal_transaksi_awal,tanggal_transaksi_awal,tipe_kartu,id_merchant,nama_merchant,tipe_mesin,tipe_transaksi,nama_transaksi,nilai_transaksi,id_negara,nama_negara,nama_kota_1,nama_kota_2,nama_kota_3,nama_kota_4,nama_kota_5,nama_kota_6,nama_kota_7,nama_kota_8,lokasi_mesin,pemilik_mesin,waktu_transaksi,kuartal_transaksi,kepemilikan_kartu,nama_channel,id_channel,flag_transaksi_finansial,status_transaksi,bank_pemilik_kartu,rata_rata_nilai_transaksi,maksimum_nilai_transaksi,minimum_nilai_transaksi,rata_rata_jumlah_transaksi,flag_transaksi_fraud
0,4676,2457646,2457726,111,-2,1063,2605127,26,10,2200000.0,96,5,0,0,0,0,0,0,0,1,4137,613,193955,4,2,1,9,False,3,999,1.332293e+06,9750000.0,10000.0,2.73,0
1,788,2457419,2457507,111,-2,1063,-3,156,12,2500000.0,96,5,0,0,0,0,0,0,1,0,1264,2196,73140,2,1,5,8,False,3,999,1.369048e+06,10000000.0,30000.0,2.33,1
2,1520,2457521,2457612,2,-2,1063,-3,156,12,1200000.0,96,5,0,0,0,0,0,0,1,1,1283,2049,140216,3,1,5,8,False,3,999,1.552346e+07,100000000.0,41804.0,2.40,0
3,9346,2457659,2457746,103,75336,144,2806174,58,6,320000.0,96,5,0,0,0,0,0,1,0,0,7049,588,155117,3,2,2,4,False,3,999,7.117647e+05,6884408.0,10000.0,1.98,0
4,2914,2457311,2457385,0,-2,1063,2334932,26,10,150000.0,96,5,0,0,0,0,0,1,0,1,3425,613,143339,3,2,1,9,False,3,999,6.179683e+05,2500000.0,100000.0,1.46,0

In [8]:
dfTrain.dropna(inplace=True)
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13104 entries, 0 to 13124
Data columns (total 35 columns):
X                             13104 non-null int64
id_tanggal_transaksi_awal     13104 non-null int64
tanggal_transaksi_awal        13104 non-null int64
tipe_kartu                    13104 non-null int64
id_merchant                   13104 non-null int64
nama_merchant                 13104 non-null int64
tipe_mesin                    13104 non-null int64
tipe_transaksi                13104 non-null int64
nama_transaksi                13104 non-null int64
nilai_transaksi               13104 non-null float64
id_negara                     13104 non-null int64
nama_negara                   13104 non-null int64
nama_kota_1                   13104 non-null int64
nama_kota_2                   13104 non-null int64
nama_kota_3                   13104 non-null int64
nama_kota_4                   13104 non-null int64
nama_kota_5                   13104 non-null int64
nama_kota_6                   13104 non-null int64
nama_kota_7                   13104 non-null int64
nama_kota_8                   13104 non-null int64
lokasi_mesin                  13104 non-null int64
pemilik_mesin                 13104 non-null int64
waktu_transaksi               13104 non-null int64
kuartal_transaksi             13104 non-null int64
kepemilikan_kartu             13104 non-null int64
nama_channel                  13104 non-null int64
id_channel                    13104 non-null int64
flag_transaksi_finansial      13104 non-null bool
status_transaksi              13104 non-null int64
bank_pemilik_kartu            13104 non-null int64
rata_rata_nilai_transaksi     13104 non-null float64
maksimum_nilai_transaksi      13104 non-null float64
minimum_nilai_transaksi       13104 non-null float64
rata_rata_jumlah_transaksi    13104 non-null float64
flag_transaksi_fraud          13104 non-null int64
dtypes: bool(1), float64(5), int64(29)
memory usage: 3.5 MB

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score,roc_auc_score,f1_score,log_loss,matthews_corrcoef

In [10]:
data = dfTrain.drop(['flag_transaksi_fraud','X'],axis=1)
target = dfTrain['flag_transaksi_fraud']

In [11]:
from sklearn.model_selection import KFold
K = 5
kf = KFold(n_splits=K,shuffle=True,random_state=42)

In [12]:
hasilfold = list(kf.split(data,target))

In [13]:
hasilfold

[(array([    1,     2,     4, ..., 13100, 13101, 13103]),
  array([    0,     3,     8, ..., 13092, 13097, 13102])),
 (array([    0,     1,     2, ..., 13098, 13101, 13102]),
  array([   10,    12,    20, ..., 13099, 13100, 13103])),
 (array([    0,     1,     2, ..., 13101, 13102, 13103]),
  array([   15,    26,    27, ..., 13083, 13086, 13098])),
 (array([    0,     1,     3, ..., 13101, 13102, 13103]),
  array([    2,     6,     7, ..., 13093, 13094, 13096])),
 (array([    0,     2,     3, ..., 13100, 13102, 13103]),
  array([    1,     4,     5, ..., 13087, 13090, 13101]))]

In [14]:
len(hasilfold[0][0])

10483

In [ ]:
def calc_train_error(X_train, y_train, model):
    predictions = model.predict(X_train)
    predictProba = model.predict_proba(X_train)
    matt = matthews_corrcoef(y_train, predictions)
    f1 = f1_score(y_train, predictions, average='macro')
    report = classification_report(y_train,predictions)
    roc_auc = roc_auc_score(y_train,predictProba[:,1])
    accuracy = accuracy_score(y_train,predictions)
    confMatrix = confusion_matrix(y_train,predictions)
    logloss = log_loss(y_train,predictProba)
    return{
        'report':report,
        'matthew':matt,
        'f1':f1,
        'roc':roc_auc,
        'accuracy':accuracy,
        'confusion':confMatrix,
        'logloss':logloss
    }
def calc_validation_error(X_test,y_test,model):
    predictions = model.predict(X_test)
    predictProba = model.predict_proba(X_test)
    matt = matthews_corrcoef(y_test, predictions)
    f1 = f1_score(y_test, predictions, average='macro')
    report = classification_report(y_test,predictions)
    roc_auc = roc_auc_score(y_test,predictProba[:,1])
    accuracy = accuracy_score(y_test,predictions)
    confMatrix = confusion_matrix(y_test,predictions)
    logloss = log_loss(y_test,predictProba)
    return{
        'report':report,
        'matthew':matt,
        'f1':f1,
        'roc':roc_auc,
        'accuracy':accuracy,
        'confusion':confMatrix,
        'logloss':logloss
    }

In [ ]:
train_errors = []
validation_errors = []
for train_index, val_index in kf.split(data,target):
    X_train, X_val = data.iloc[train_index], data.iloc[val_index]
    y_train, y_val = target.iloc[train_index], target.iloc[val_index]
    
    logmodel = LogisticRegression()
    
    train_error, val_error = calc_metrics(X_train, y_train, X_val, y_val, logmodel)
    
    train_errors.append(train_error)
    validation_errors.append(val_error)